---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: check-added-large-files
            args: [--maxkb=8000]
          - id: check-ast
          - id: check-case-conflict
          - id: check-builtin-literals
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-toml
          - id: check-yaml
          - id: detect-private-key
          - id: destroyed-symlinks
          - id: end-of-file-fixer
          - id: fix-byte-order-marker
          - id: forbid-new-submodules
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: name-tests-test
            args: [--pytest-test-first]
        #   - id: trailing-whitespace

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt

    - repo: https://github.com/astral-sh/uv-pre-commit
      rev: 0.9.5
      hooks:
          - id: uv-sync
            args: [--locked, --all-extras]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.1
      hooks:
          - id: ruff-check
            args: [--fix]
          - id: ruff-format

    - repo: local
      hooks:
          - id: pyright
            name: pyright
            entry: uv run --frozen -- pyright
            types: [python]
            language: system
            pass_filenames: false
            require_serial: true

          - id: ty-check
            name: ty-check
            language: python
            entry: uv run --frozen -- ty check
            pass_filenames: false
            args: [--python=.venv/]
            additional_dependencies: [ty]
