---
name: Benchmark with CodSpeed

on:
    push:
        branches:
            - main
    merge_group:
    pull_request:
    workflow_dispatch:
    repository_dispatch:
        types: [trigger_checks]

jobs:
    codspeed-benchmarks:
        timeout-minutes: 180
        runs-on: ubuntu-22.04

        name: codspeed benchmarks
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version-file: .python-version

            - name: Install pynonthermal
              run: |
                  python3 -m pip install --upgrade pip
                  python3 -m pip install .

            - name: Run benchmarks
              uses: CodSpeedHQ/action@v2
              with:
                  token: ${{ secrets.CODSPEED_TOKEN }}
                  run: pytest --codspeed
