---
name: Linter

on:
    push:
    merge_group:
    schedule:
        - cron: 0 13 * * 1
    #pull_request:
    workflow_dispatch:
    repository_dispatch:
        types: [trigger_checks]

jobs:
    pre-commit:
        runs-on: macos-15
        env:
            RUFF_OUTPUT_FORMAT: github
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  cache: pip

            - name: Install dependencies
              run: |
                  python3 -m pip install --upgrade pip wheel mypy
                  python3 -m pip install -r requirements.txt

            - name: Run pre-commit
              run: |
                  pre-commit run --all-files

    lint:
        runs-on: macos-15
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  cache: pip

            - name: Install dependencies
              run: |
                  python3 -m pip install --upgrade pip wheel mypy
                  python3 -m pip install -r requirements.txt

            - name: Run Ruff
              if: always()
              uses: astral-sh/ruff-action@v1
              with:
                  version: 0.8.0

            - name: Run Ruff Format
              if: always()
              uses: astral-sh/ruff-action@v1
              with:
                  args: format --check
                  version: 0.8.0

            - name: Run mypy
              run: |
                  mypy --install-types --non-interactive
